* {
  /* border: 2px solid red; */
}
.container {
  width: 500px;
  height: 70vh;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  /* border: 2px solid red; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  background-color: #04bade;
  border-bottom: 1px solid #ddd;
}

.logo{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.refresh-logo {
  /* width: 30px; */
  height: 25px;
  margin-left: auto;
  cursor: pointer;
}

.header-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.title {
  font-size: 1em;
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #00ff00;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ccc;
}
